@import url(//db.onlinewebfonts.com/c/98b78079f5ee4295c40260785b4e4fbf?family=Cera+Pro);
@font-face {
  font-family: "Cera Pro";
  src: url("http://db.onlinewebfonts.com/t/98b78079f5ee4295c40260785b4e4fbf.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/98b78079f5ee4295c40260785b4e4fbf.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("http://db.onlinewebfonts.com/t/98b78079f5ee4295c40260785b4e4fbf.woff2")
      format("woff2"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/98b78079f5ee4295c40260785b4e4fbf.woff")
      format("woff"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/98b78079f5ee4295c40260785b4e4fbf.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("http://db.onlinewebfonts.com/t/98b78079f5ee4295c40260785b4e4fbf.svg#Cera Pro")
      format("svg"); /* iOS 4.1- */
}
body {
  margin: 0;
  font-family: "Cera Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}